# Items that don't need to be in a Docker image.
# Anything not used by the build system should go here.
.dockerignore
.gitignore
README.md
config/docker
config/helm

# Artifacts that will be built during image creation.
npm-debug.log
.sass-cache

